<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid>
          
    
          <ion-row style="height: 30%;">
            <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center style="flex-direction: column">
                <div style="text-align: center;">
                  <span style="font-size: 13px;">Step 3 of 4</span>
                </div>
                <div class="swiper-pagination swiper-pagination-bullets">
                  <span class="swiper-pagination-bullet test"></span>
                  <span class="swiper-pagination-bullet test"></span>
                  <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                  <span class="swiper-pagination-bullet test"></span>
              </div>
              </ion-row>
            </ion-grid>
          </ion-row>
    
      
          <ion-row style="height: 10%;">
            <ion-grid class="max-size" >
              <ion-row justify-content-center align-items-center style="flex-direction: column">
                <h3 style="text-align: center;"><b>What item are you listing?</b></h3>
              </ion-row>
            </ion-grid>
          </ion-row>
      
          <ion-row style="height: 60%;">
            <ion-col class="max-size" style="padding: 0px; padding-top: 30px;">
      
              <ion-row class="max-width item-select" routerLink="/profile/items/item3/choose/dresses">
                <ion-col class="align-text-middle">
                  <span>Dresses</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/profile/items/item3/choose/tops">
                <ion-col class="align-text-middle">
                  <span>Tops</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/profile/items/item3/choose/jackets">
                <ion-col class="align-text-middle" size="8">
                  <span>Jackets and Sweaters</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/profile/items/item3/choose/shorts">
                <ion-col class="align-text-middle">
                  <span>Shorts</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/profile/items/item3/choose/skirts">
                <ion-col class="align-text-middle">
                  <span>Skirts</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>          
              <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/profile/items/item3/choose/pants">
                <ion-col class="align-text-middle">
                  <span>Pants</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
      
        </ion-grid>
      </ion-content>
    
      <ion-footer no-border>
        <ion-toolbar transparent>
          <button mat-flat-button color="primary"class="btn-next" routerLink="/profile/items/item4">Next</button>
        </ion-toolbar>
      </ion-footer>