ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.footer {
    text-align: center;
    border-top: .5px solid #eeeeee;
    height: 8%;
    background-color: #ffffff;
}

.footer-buttons {
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    background: var(--ion-background-color, #ffffff);
    width: 60%;
    height: 60%;
}

.max-size {
    width: 100%;
    height: 100%;
}

.max-width {
    width: 100%;
}