<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" class="max-size">
      <ion-slide>
        <ion-grid class="max-size">

          <ion-row style="height: 5%;"></ion-row>

          <ion-row style="height: 50%; text-align: center;">
            <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                <img src="assets/images/ht-1.png" width="25%"/>
              </ion-row>
            </ion-grid>
          </ion-row>
  
          <ion-row style="height: 10%; text-align: center;">
            <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                <b>What is a bundle?</b>
              </ion-row>
            </ion-grid>
          </ion-row>
  
          <ion-row style="height: 20%; text-align: center;">
            <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
              Swapped defines a bundle as a listing
              consisting of like items. It follows that only
              related or compatible items can be bundled.
            </p>
          </ion-row>
  
          <ion-row style="height: 10%;">
            <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                <button mat-button routerLink="/profile/bundles/step2" color="primary">Skip</button>
              </ion-row>
            </ion-grid>
          </ion-row>
  
          <ion-row style="height: 5%;"></ion-row>
  
        </ion-grid>
      </ion-slide>

      <ion-slide>
          <ion-grid class="max-size">
    
            <ion-row style="height: 20%; text-align: center;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <h3><b>What are allowable bundle types?</b></h3>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 65%; text-align: center;">
              <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
                Items in a bundle could be similar in a sense
                that they share a common style or themed
                according to occasion, color, compatible
                fashion style and others. Swipe to learn about
                the two bundles we allow!
              </p>
            </ion-row>

            <ion-row style="height: 10%;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <button mat-button routerLink="/profile/bundles/step2" color="primary">Skip</button>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 5%;"></ion-row>
    
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid class="max-size">
  
            <ion-row style="height: 5%;"></ion-row>
  
            <ion-row style="height: 50%; text-align: center;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <img src="assets/images/ht-1.png" width="25%"/>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 10%; text-align: center;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <h3><b>Bundle A</b></h3>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 20%; text-align: center;">
              <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
                Bundle A contains items in the same garment
                style or silhouette,
              </p>
            </ion-row>
    
            <ion-row style="height: 10%;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <button mat-button routerLink="/profile/bundles/step2" color="primary">Skip</button>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 5%;"></ion-row>
    
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid class="max-size">
  
            <ion-row style="height: 5%;"></ion-row>
  
            <ion-row style="height: 50%; text-align: center;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <img src="assets/images/ht-1.png" width="25%"/>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 10%; text-align: center;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <h3><b>Bundle B</b></h3>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 20%; text-align: center;">
              <p style="font-size: 14px; padding-left: 15px; padding-right: 15px;">
                  Bundle B refers to the bundle containing
                  items that are mixed but themed according to
                  occasion, color, compatible fashion style and
                  common clothing details.
              </p>
            </ion-row>
    
            <ion-row style="height: 10%;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <button mat-button routerLink="/profile/bundles/step2" color="primary">Let's go!</button>
                </ion-row>
              </ion-grid>
            </ion-row>
    
            <ion-row style="height: 5%;"></ion-row>
    
          </ion-grid>
        </ion-slide>
  
    </ion-slides>
  </ion-content>
  
  <ion-footer class="footer-container" no-border>
    <ion-row class="footer">
      <ion-col>
          <ion-img src="assets/icon/icon_home.png" class="footer-buttons"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img src="assets/icon/icon_main.png" class="footer-buttons"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
      </ion-col>
      <ion-col>
          <ion-img src="assets/icon/icon_search.png" class="footer-buttons"></ion-img>
      </ion-col>
  </ion-row>
  </ion-footer>