<ion-header no-borde>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="test"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 20px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px">
      <!-- Default Searchbar -->
      <ion-searchbar></ion-searchbar>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: 0px;">
    <ion-row style="padding: 10px;">
      <span style="font-size: 26px; font-weight: 600;">Your messages</span>
    </ion-row>
    <br>
    <ion-row *ngFor="let message of arMessage"class="message-style">
      <ion-col size="4">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column;">
            <img src="assets/pic.png" alt="Avatar">
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="8" routerLink="/message/thread">
          <div style="display: table; height: 80px; overflow: hidden;">
              <div style="display: table-cell; vertical-align: middle;">
                <div>
                    <span style="font-size: 15px; font-weight: 600;">{{ message['name'] }}</span><br>
                    <span style="font-size: 11px;">{{ message['content'] }}</span><br>
                    <span style="font-size: 8px;">{{ message['date'] }}</span>
                </div>
              </div>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
