.message-style {
    background-color: #FCFCFC;
    border-bottom: 1px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
}

img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
}

.max-size {
    height: 100%;
    width: 100%;
}
