<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid class="max-size">

          <ion-row style="height: 60%;">
            <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                <img src="assets/images/ht-1.png" width="100%"/>
              </ion-row>
            </ion-grid>
          </ion-row>
  
          <ion-row style="height: 40%; padding: 10px;">
            <ion-grid class="max-size">
              <ion-row>
                <ion-col style="font-size: 25px;"><b>Denim Bundle</b></ion-col>
              </ion-row>
              <ion-row>
                  <ion-col style="font-size: 14px;"><b>Posted by:</b> Elle</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col style="font-size: 18px;"><b>Theme:</b> Garment detail > Accents > Garterized </ion-col>
              </ion-row>
            </ion-grid>
          </ion-row>

        </ion-grid>
    </ion-content>
    
    <ion-footer class="footer-container" no-border>
      <ion-row class="footer">
        <ion-col>
            <ion-img src="assets/icon/icon_home.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_main.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_search.png" class="footer-buttons"></ion-img>
        </ion-col>
    </ion-row>
    </ion-footer>