<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <h1><b>{{ objLabels[strTag]['label'] }}</b></h1>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
                    <div style="text-align: center;">
                        <span style="font-size: 13px;">Step 2 of 2</span>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet test"></span>
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row style="height: 30%;">
            <ion-grid class="max-size">
                <ion-row class="max-width-padding">
                    <h5><b>Final touches</b></h5>
                </ion-row>

                <ion-row class="max-width-padding">
                    <mat-form-field style="width: 100%;">
                        <input matInput type="text" placeholder="Listing title">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row style="height: 30%;">
            <ion-grid class="max-size">
                <ion-row class="max-width-padding">
                    <ion-label style="width:100%">Write a brief description here</ion-label><br/>
                    <ion-label style="width:100%"><b>Please indicate sizes of items.</b></ion-label><br/>
                    <ion-textarea class="textarea" rows="3"></ion-textarea>
                </ion-row>
            </ion-grid>
        </ion-row>
        
    </ion-grid>
</ion-content>

<ion-footer class= "footer-container" no-border>
    <ion-toolbar>
        <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/bundles/congrats">Done</button>
    </ion-toolbar>
</ion-footer>
  