ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.max-size {
    width: 100%;
    height: 100%;
}

.btn-next {
    width: 100%;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
  }
  
  .btn-skip {
      width: 100%;
      height: 44px;
      font-size: 16px;
      color:  #989aa2;
      background: var(--ion-background-color,#ffffff);
      margin-bottom: 6px;
  }