<ion-header>
  <ion-toolbar>
    <ion-title>wishlist-done</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<<<<<<< HEAD
</ion-content>
=======
    <ion-grid class="max-size">
  
        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <h1><b>Congratulations!</b></h1>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 20%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <span><b>Item added to your wishlist.</b></span>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <span style="font-size: 12px;"><b>You may view and edit the item <br>
                  on your profile.</b></span>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 45%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <img src="assets/images/ht-1.png" width="50%"/>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 5%;"></ion-row>

      </ion-grid>
  </ion-content>

  
<ion-footer class= "footer-container" no-border>
    <ion-toolbar>
        <ion-row style="padding-left: 20px; padding-right: 20px;">
            <ion-grid class="max-size">
                <button mat-flat-button class="btn-next" routerLink="/profile">View item on profile</button>
                <button mat-flat-button class="btn-skip" routerLink="/profile/wishlist1">List another item</button>
            </ion-grid>
          </ion-row>
    </ion-toolbar>
</ion-footer>
  
  
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
