<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>

    <ion-row style="height: 10%; text-align: center;">
      <ion-grid class="max-size">
        <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
          <h1><b>{{ objLabels[strTag]['label'] }}</b></h1>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row style="height: 90%;">
        <ion-grid class="max-size">
            <ion-row *ngIf="strTag == 'shoulder_cut'" class="max-width">
              <ion-col>
                <ion-select placeholder="Choose" class="dropdown">
                  <ion-select-option value="off">Off-shoulder</ion-select-option>
                  <ion-select-option value="one">One-shoulder</ion-select-option>
                  <ion-select-option value="cold">Cold shoulder</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'sleeve_length'" class="max-width">
              <ion-col>
                  <ion-select placeholder="Choose" class="dropdown">
                      <ion-select-option value="sleveless">Sleeveless</ion-select-option>
                      <ion-select-option value="short">Short sleeve</ion-select-option>
                      <ion-select-option value="three_fourth">3/4 sleeve</ion-select-option>
                      <ion-select-option value="long">Long sleeve</ion-select-option>
                      <ion-select-option value="strapless">Strapless</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'skirt_length'" class="max-width">
              <ion-col>
                  <ion-select placeholder="Choose" class="dropdown">
                      <ion-select-option value="knee">Knee length</ion-select-option>
                      <ion-select-option value="short">Short</ion-select-option>
                      <ion-select-option value="calf">Calf length</ion-select-option>
                      <ion-select-option value="long">Long</ion-select-option>
                      <ion-select-option value="high_low">High Low</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'rise'" class="max-width">
              <ion-col>
                  <ion-select placeholder="Choose" class="dropdown">
                      <ion-select-option value="low">Low</ion-select-option>
                      <ion-select-option value="mid">Mid</ion-select-option>
                      <ion-select-option value="high">High</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-row>

      <ion-row *ngIf="strTag == 'necklines'">
        <ion-col *ngFor="let objItem of objLabels[strTag]['list']; index as i;" size="3" style="text-align: center; font-size: 13px; margin-top: 10px;">
          <div class="max-size" style="padding-bottom: 10px;" [ngClass]="{'is-chosen': objItem['chosen'] == true}">
            <img src="assets/images/{{strTag}}/{{objItem['img']}}" (click)="chooseThis(objItem)">
            <span>{{ objItem['name'] }}</span>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
