<ion-content>
    <ion-grid>
      

      <ion-row style="height: 30%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <div>
              <br>
              <p style="font-size: 13px; text-align: center;">4 Step Sign Up</p>
              <div class="swiper-pagination swiper-pagination-bullets">
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet test"></span>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>

  
      <ion-row style="height: 10%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <h1><b>Set Up Account</b></h1>
          </ion-row>
        </ion-grid>
      </ion-row>
  
      <ion-row style="height: 60%; padding: 10px;">
        <ion-col class="max-size">
  
          <ion-row class="max-width">
            <ion-col>
              <mat-form-field class="input-size">
                <input matInput type="text" placeholder="Username" [(ngModel)]="objData['name']">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
          </ion-row>
  
          <ion-row class="max-width">
            <ion-col>
              <mat-form-field class="input-size">
                <input matInput type="text" placeholder="E-Mail" [(ngModel)]="objData['email']">
              </mat-form-field>
            </ion-col>
          </ion-row>
  
          <ion-row class="max-width">
            <ion-col>
              <mat-form-field class="input-size">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="objData['password']">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </ion-col>
          </ion-row>
  
          <ion-row class="max-width">
            <ion-col>
              <mat-form-field class="input-size">
                <input matInput placeholder="Confirm Password" [type]="hide1 ? 'password' : 'text'" [(ngModel)]="objData['confirm_password']">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </ion-col>
          </ion-row>
  
          <br>
  
          <ion-row class="max-width">
            <ion-col>
              <ion-select id="test" placeholder="Location" style="border: 2px solid #F6F6F6; border-radius:6px;" [(ngModel)]="objData['location']">
                <ion-select-option value="caloocan">Caloocan</ion-select-option>
                <ion-select-option value="las_pinas">Las Piñas</ion-select-option>
                <ion-select-option value="makati">Makati</ion-select-option>
                <ion-select-option value="malabon">Malabon</ion-select-option>
                <ion-select-option value="mandaluyong">Mandaluyong</ion-select-option>
                <ion-select-option value="manila">Manila</ion-select-option>
                <ion-select-option value="marikina">Marikina</ion-select-option>
                <ion-select-option value="muntinlupa">Muntinlupa</ion-select-option>
                <ion-select-option value="navotas">Navotas</ion-select-option>
                <ion-select-option value="paranaque">Parañaque</ion-select-option>
                <ion-select-option value="pasay">Pasay</ion-select-option>
                <ion-select-option value="pasig">Pasig</ion-select-option>
                <ion-select-option value="pateros">Pateros</ion-select-option>
                <ion-select-option value="quezon">Quezon City</ion-select-option>
                <ion-select-option value="san_juan">San Juan</ion-select-option>
                <ion-select-option value="taguig">Taguig</ion-select-option>
                <ion-select-option value="valenzuela">Valenzuela</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>

  <ion-footer class= "footer-container" no-border>
    <ion-toolbar>
      <button mat-flat-button color="primary" class="btn-next" (click)="saveData()" routerLink="/register/step2">Next</button>
    </ion-toolbar>
  </ion-footer>
  