<ion-content>
    <ion-grid style="height: 100%;">
      
      <ion-row style="height: 70%; padding: 20px;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <ion-text color="dark" style="text-align:center;">
                <h2><b>Tell us about your favorites!</b></h2>
            </ion-text>
          </ion-row>
        </ion-grid>
      </ion-row>

      <ion-row style="height: 30%;  padding: 15px;">
        <ion-grid class="max-size">
            <button mat-flat-button class="btn-next" routerLink="/register/step6">Next</button>
            <button mat-flat-button class="btn-skip" (click)="register()" routerLink="/register/done">Skip this part</button>
        </ion-grid>
      </ion-row>

    </ion-grid>
  </ion-content>
