<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>SharkBait Development Co</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #000;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>SharkBait Development Co</h1>
        <br>
        <div>
            Hi! I don't know how you end up here, but just to inform you, <br>this is SharkBait Development Co's. back end API! <br><br>
            This API will be used in all our projects, and there's pretty much nothing you can do here. :D 
        </div>
    </body>
</html>
