<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon"
            (click)="saveData()">
        </ion-back-button>
      </ion-buttons>
      <ion-title>{{ objLabels[strTag]['label'] }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid *ngIf="bShow">
    <ion-row>
      <ion-col *ngFor="let objItem of objLabels[strTag]['list']; index as i;" size="4" style="text-align: center; font-size: 13px; margin-top: 10px;">
        <div class="max-size" style="padding-bottom: 10px;" [ngClass]="{'is-chosen': objItem['chosen'] == true}">
          <img src="assets/images/{{strTag}}/{{objItem['img']}}" (click)="chooseThis(objItem)">
          <span>{{ objItem['name'] }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
