.max-size {
    width: 100%;
    height: 100%;
}
.is-chosen {
    -webkit-box-shadow: -2px 2px 10px -2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 2px 10px -2px rgba(0,0,0,1);
    box-shadow: -2px 2px 10px -2px rgba(0,0,0,1);
}