<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">

      <ion-text color="dark" style="text-align:center; padding: 20px;">
        <h2>
          <b>Sign up success!</b>
        </h2>
      </ion-text>

      <div style="padding: 0px; width: 100%;">
        <ion-row class="max-width" style="padding: 0px 10px 0px 10px;">
          <ion-col>
            <button mat-flat-button color="primary"class="btn-next" routerLink="/register/done">View Profile</button>
          </ion-col>
        </ion-row>
      </div>

    </ion-row>
  </ion-grid>
</ion-content>