<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="test == 'top'">
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Shoulder cut</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="grey">Grey</ion-select-option>
          <ion-select-option value="white">White</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Neckline</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="grey">Grey</ion-select-option>
          <ion-select-option value="white">White</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Sleeve length</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="grey">Grey</ion-select-option>
          <ion-select-option value="white">White</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="test == 'bottom'">
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Rise</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="mid">Mid</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid *ngIf="test == 'dress'">
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Skirt Length</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="mid">Mid</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="test == 'general'">
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Print</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="mid">Mid</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="max-width item-padding">
      <ion-col>
        <ion-label>Accents</ion-label>
        <ion-select placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="mid">Mid</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
