<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <h1><b>Preliminary Steps</b></h1>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
                    <div>
                        <span style="font-size: 13px; text-align: center;">Step 2 of 2</span>
                        <div class="swiper-pagination swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        </div>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-row>

        <mat-radio-group [(ngModel)]="strBundle">
            <ion-row style="height: 60%;">
            <ion-col class="max-size" style="padding: 0px; padding-top: 30px;">
                <ion-row class="max-width item-select" >
                <ion-col class="align-text-middle">
                    <mat-radio-button value = "bundle_a" routerLink="/profile/bundles/step4/bundle_a">Bundle Type A</mat-radio-button>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                </ion-row>
                <ion-row class="max-width item-select" >
                <ion-col class="align-text-middle">
                    <mat-radio-button value = "bundle_b" routerLink="/profile/bundles/step4/bundle_b">Bundle Type B</mat-radio-button>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                </ion-row>
            </ion-col>
            </ion-row>
        </mat-radio-group>
        
    </ion-grid>
</ion-content>

<ion-footer class= "footer-container" no-border>
    <ion-toolbar>
        <button *ngIf="strBundle != ''" mat-flat-button color="primary" class="btn-next" routerLink="/profile/bundles/step5/{{strBundle}}">Next</button>
    </ion-toolbar>
</ion-footer>
  