<ion-content>
    <ion-grid style="height: 100%;">
      

              <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
                <ion-text color="dark" style="text-align:center; padding: 20px;">
                    <h2><b>Tell us more about the item.</b></h2>
                </ion-text>

                <br>
                <div style="padding: 0px; width: 100%;">
  
                  <ion-row class="max-width item-select" (click)="toggleDetail1()">
                    <ion-col class="align-text-middle">
                      <span *ngIf="!bOpenDetail1">Top details</span>
                      <span *ngIf="bOpenDetail1"><b>Top details</b></span>
                    </ion-col>
                    <ion-col>
                      <mat-icon *ngIf="!bOpenDetail1" class="dd-caret">keyboard_arrow_right</mat-icon>
                      <mat-icon *ngIf="bOpenDetail1" class="dd-caret">keyboard_arrow_down</mat-icon>
                    </ion-col>
                  </ion-row>
      
                  <div *ngIf="bOpenDetail1">
                    <ion-row *ngFor ="let detail of arDetail1" class="max-width item-select" routerLink="/profile/items/item6/choose/{{detail['id']}}">
                      <ion-col style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;" class="align-text-middle">
                        <span style="margin-left: 5px;">{{ detail['name'] }}</span>
                        <ion-col>
                          <mat-icon class="dd-caret">keyboard_arrow_right</mat-icon>
                        </ion-col>
                      </ion-col>
                    </ion-row>
                  </div>

                  <ion-row class="max-width item-select" (click)="toggleDetail2()">
                    <ion-col class="align-text-middle">
                      <span *ngIf="!bOpenDetail2">Dress details</span>
                      <span *ngIf="bOpenDetail2"><b>Dress details</b></span>
                    </ion-col>
                    <ion-col>
                      <mat-icon *ngIf="!bOpenDetail2" class="dd-caret">keyboard_arrow_right</mat-icon>
                      <mat-icon *ngIf="bOpenDetail2" class="dd-caret">keyboard_arrow_down</mat-icon>
                    </ion-col>
                  </ion-row>
      
                  <div *ngIf="bOpenDetail2">
                    <ion-row *ngFor ="let detail of arDetail2" class="max-width item-select" routerLink="/profile/items/item6/choose/{{detail['id']}}">
                      <ion-col style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;" class="align-text-middle">
                        <span style="margin-left: 5px;">{{ detail['name'] }}</span>
                        <ion-col>
                          <mat-icon class="dd-caret">keyboard_arrow_right</mat-icon>
                        </ion-col>
                      </ion-col>
                    </ion-row>
                  </div>

                  <ion-row class="max-width item-select" style="padding: 0px 10px 0px 10px;" routerLink="/profile/items/item6/choose/rise">
                    <ion-col class="align-text-middle">
                      <span>Bottom details</span>
                    </ion-col>
                    <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                  </ion-row>

                  <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/profile/items/item6/choose/general">
                    <ion-col class="align-text-middle">
                      <span>General</span>
                    </ion-col>
                    <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                  </ion-row>

                </div>

              </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
      <ion-toolbar transparent>
          <ion-row class="max-width" style="padding: 0px 10px 0px 10px;">
              <ion-col>
                <button mat-flat-button color="primary"class="btn-next" routerLink="/profile/items/itemsdone">Done</button>
              </ion-col>
            </ion-row>
      </ion-toolbar>
    </ion-footer>