<ion-header no-border style="
border-bottom: 2px solid #E2E2E2;
background-color: white">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="test"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
      <ion-grid>
          <ion-row style="text-align: center;">
            <ion-col>
                <span style="font-size: 20px; font-weight: 600;">Tin</span><br>
                <span style="font-size: 15px; color: #009376">Test Shirt</span>
            </ion-col>
            <ion-col>
                <img src="assets/logo_login.png" alt="Icon">
            </ion-col>
            <ion-col>
                <span style="font-size: 20px; font-weight: 600;">Elle</span><br>
                <span style="font-size: 15px; color: #009376">Test Dress</span>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-grid style="height: 100%; background-color: rgb(250, 250, 250);">
      <ion-row class="chat-row">
          <ion-grid class="max-width">
              <ion-row>
                <ion-col>
                  <img class="profile sender" src="assets/pic.png" alt="Avatar">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="chat sender">This is a long message so we can test what it looks like.</span>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-row>
      <ion-row class="chat-row">
          <ion-grid class="max-width">
              <ion-row>
                <ion-col>
                  <img class="profile" src="assets/pic.png" alt="Avatar">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="chat">Your messages</span>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer class="footer-container" no-border>
      <ion-row class="footer">
        <ion-col size="2">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center style="flex-direction: column;">
              <mat-icon style="color: #009376; outline: none;">chat</mat-icon>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="8">
            <ion-input placeholder="Type your message here..."></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center style="flex-direction: column;">
              <mat-icon style="color: #009376; outline: none;">send</mat-icon>
            </ion-row>
          </ion-grid>
        </ion-col>
    </ion-row>
    </ion-footer>
  