.message-style {
    background-color: #FCFCFC;
    border-bottom: 1px solid white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.profile {
    border-radius: 50%;
    height: 22px;
    width: 22px;
    margin-bottom: 5px;
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75); 
}

.max-size {
    height: 100%;
    width: 100%;
}

.max-width {
    width: 100%;
}

.inner-scroll .scroll-y .overscroll {
    background-color: red !important;
}

.chat {
    background: #fff !important;
    display: inline-block !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
  }

.sender {
    float: right;
}

.chat-row {
    padding-left: 10px;
    padding-right: 10px;
}