<ion-content no-padding >
  <ion-grid class="container">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
          <img src="assets/logo_login.png" class="logo" />

            <mat-form-field>
                <input matInput placeholder="Username"  [(ngModel)]="objData['name']">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="objData['password']">
            </mat-form-field>
    
            <div padding style="width: 100%; text-align: center;">
                <button class="btn-login" (click)="login()" routerLink="{{strLink}}"><b>Login</b></button>
            </div>
        </ion-row>
  </ion-grid>
</ion-content>
