.logo {
    margin-top: 10px;
    margin-bottom: 30%;
    width: 40%;
}

.btn-login {
    width: 50%;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 11px;
}

.txt-input {
    font-size: 14px;
    margin-bottom: 15px;
}


.container {
    background: var(--ion-background-color,#fff) !important;
    height: 100%
}


.btn-login:focus{
    outline: none;
}