ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.max-size {
    width: 100%;
    height: 100%;
}
.btn-next {
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  background: var(--ion-background-color,#009376);
  border-radius: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
}

.test {
  background-color: #F0F0F0;
}

.align-text-middle {
    display: flex;
    align-items: center;
}

.item-select {
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.dd-caret {
    float:right; 
    color: rgb(197, 197, 197);
}

.footer-container {
    text-align: center;
}