<ion-content>
    <ion-grid style="height: 100%;">
      

              <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
                <ion-text color="dark" style="text-align:center; padding: 20px;">
                    <h2><b>Tell us about your favorites!</b></h2>
                </ion-text>

                <br>
                <div style="padding: 0px; width: 100%;">
  
                    <ion-row class="max-width item-select" routerLink="/register/step6/options/top">
                      <ion-col class="align-text-middle">
                        <span>Tops details</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                    </ion-row>
                    <ion-row class="max-width item-select" routerLink="/register/step6/options/dress">
                      <ion-col class="align-text-middle">
                        <span>Dress details</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                    </ion-row>
                    <ion-row class="max-width item-select" routerLink="/register/step6/options/bottom">
                      <ion-col class="align-text-middle">
                        <span>Bottom details</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                    </ion-row>
                    <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/register/step6/options/general">
                      <ion-col class="align-text-middle">
                        <span>General</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                    </ion-row>
                  </div>

              </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
      <ion-toolbar transparent>
          <ion-row class="max-width" style="padding: 0px 10px 0px 10px;">
              <ion-col>
                <button mat-flat-button color="primary" class="btn-next" (click)="register()" routerLink="/register/done">Done</button>
              </ion-col>
            </ion-row>
      </ion-toolbar>
    </ion-footer>