<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
<<<<<<< HEAD
                    <div>
                      <br>
                      <p style="font-size: 13px; text-align: center;">Step 4 of 4</p>
                        <div class="swiper-pagination swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        </div>
=======
                    <div style="text-align: center;">
                        <span style="font-size: 13px;">Step 4 of 4</span>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet test"></span>
                        <span class="swiper-pagination-bullet test"></span>
                        <span class="swiper-pagination-bullet test"></span>
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
                    </div>
                </ion-row>
            </ion-grid>
        </ion-row>

  
        <ion-row style="height: 10%;">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="texts-container">
                    <span class="texts">Complete your listing</span>
                </ion-row>
                
                <ion-row class="max-width">
                    <mat-form-field class="input-size">
                        <input matInput type="text" placeholder="Listing title">
                        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </ion-row>
                <br />

                <ion-row class="max-width">
                    <ion-label style="width:100%">Write a brief description here</ion-label><br />
                    <ion-textarea class="textarea"></ion-textarea>
                </ion-row>  

                <ion-row class="max-width">
                    <ion-select placeholder="Choose color" class="dropdown">
                        <ion-select-option value="black">Black</ion-select-option>
                        <ion-select-option value="grey">Grey</ion-select-option>
                        <ion-select-option value="ivory">Ivory</ion-select-option>
                        <ion-select-option value="tan">Tan</ion-select-option>
                        <ion-select-option value="brown">Brown</ion-select-option>
                        <ion-select-option value="purple">Purple</ion-select-option>
                        <ion-select-option value="blue">Blue</ion-select-option>
                        <ion-select-option value="teal">Teal</ion-select-option>
                        <ion-select-option value="green">Green</ion-select-option>
                        <ion-select-option value="red">Red</ion-select-option>
                        <ion-select-option value="pink">Pink</ion-select-option>
                        <ion-select-option value="orange">Orange</ion-select-option>
                        <ion-select-option value="yellow">Yellow</ion-select-option>
                    </ion-select>
                </ion-row>

                <ion-row class="max-width">
                    <ion-select placeholder="Choose pattern (if applicable)" class="dropdown">
                        <ion-select-option value="animal_print">Animal Print</ion-select-option>
                        <ion-select-option value="argyle">Argyle</ion-select-option>
                        <ion-select-option value="camo">Camo</ion-select-option>
                        <ion-select-option value="checkered_gingham">Checkered Gingham</ion-select-option>
                        <ion-select-option value="chevron_herringbone">Chevron Herringbone</ion-select-option>
                        <ion-select-option value="color_block">Color block</ion-select-option>
                        <ion-select-option value="floral">Floral</ion-select-option>
                        <ion-select-option value="graphic">Graphic</ion-select-option>
                        <ion-select-option value="hearts">Hearts</ion-select-option>
                        <ion-select-option value="metallic">Metallic</ion-select-option>
                        <ion-select-option value="paisley">Paisley</ion-select-option>
                        <ion-select-option value="plaid">Plaid</ion-select-option>
                        <ion-select-option value="polka_dots">Polka Dots</ion-select-option>
                        <ion-select-option value="print">Print</ion-select-option>
                        <ion-select-option value="solid">Solid</ion-select-option>
                        <ion-select-option value="stars">Stars</ion-select-option>
                        <ion-select-option value="stripes">Stripes</ion-select-option>
                        <ion-select-option value="tiedye">Tie-dye</ion-select-option>
                        <ion-select-option value="tropical">Tropical</ion-select-option>
                        <ion-select-option value="tweed">tweed</ion-select-option>
                    </ion-select>
                </ion-row>

                <ion-row class="max-width">
                    <ion-select placeholder="Choose accent (if applicable)" class="dropdown">
                        <ion-select-option value="beaded">Beaded</ion-select-option>
                        <ion-select-option value="bows">Bows</ion-select-option>
                        <ion-select-option value="chains">Chains</ion-select-option>
                        <ion-select-option value="cut_outs">Cut Outs</ion-select-option>
                        <ion-select-option value="embroidered">Embroidered</ion-select-option>
                        <ion-select-option value="flannel">Flannel</ion-select-option>
                        <ion-select-option value="frayed_edges">Frayed Edges</ion-select-option>
                        <ion-select-option value="graphic">Graphic</ion-select-option>
                        <ion-select-option value="fringe">Fringe</ion-select-option>
                        <ion-select-option value="fur">Fur</ion-select-option>
                        <ion-select-option value="glitter">Glitter</ion-select-option>
                        <ion-select-option value="peplum">Peplum</ion-select-option>
                        <ion-select-option value="ripped">Ripped</ion-select-option>
                        <ion-select-option value="ruched">Ruched</ion-select-option>
                        <ion-select-option value="ruffles">Ruffles</ion-select-option>
                        <ion-select-option value="sequins">Sequins</ion-select-option>
                        <ion-select-option value="shearling">Shearling</ion-select-option>
                        <ion-select-option value="studded">Studded</ion-select-option>
                        <ion-select-option value="velvet">Velvet</ion-select-option>
                        <ion-select-option value="zippers">Zippers</ion-select-option>
                    </ion-select>
                </ion-row>

            </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class= "footer-container" no-border>
    <ion-toolbar>
        <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/wishlist5">Done</button>
    </ion-toolbar>
</ion-footer>
  