<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="btn-back"
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="max-size">

        <ion-row class="image-container">
            <img src="assets/images/skirts/skirt 10.jpg" class="item-image" />
        </ion-row>
        
        <ion-row class="max-width" style="font-weight:700; font-size:22px; margin-top: 8px;">
            <ion-label>Blue </ion-label> <ion-label>A-line</ion-label>
        </ion-row>

        <ion-row class="max-width">
            <ion-label style="font-weight:600; font-size:9px">Posted by: </ion-label>
            <ion-label style="color: #009376; font-size:9px">Luisa</ion-label>
        </ion-row>

        <ion-row class="max-width" style="margin-top: 6px;">
            <ion-label style="font-weight:600; font-size:12px">Size: </ion-label>
            <ion-label style="font-size:12px">Freesize</ion-label>
        </ion-row>

        <ion-row class="max-width">
            <ion-label style="font-weight:600; font-size:12px">Category: </ion-label>
            <ion-label style="font-size:12px">Skirts > </ion-label>
            <ion-label style="font-size:12px">Flared</ion-label>
        </ion-row>

        <ion-row class="max-width" style="margin-top: 6px;">
            <p style="font-size:11px">Description of the item listed. Description of the item listed. Description of the item listed. Description of the item listed. Description of the item listed. Description of the item listed.</p>
        </ion-row>

        <ion-row class="max-width"  justify-content-center align-items-center style="margin-top: 6px;">
            <ion-col style="font-weight:600; font-size:11px;">COLOR</ion-col>
            <ion-col style="font-weight:600; font-size:11px;">PATTERN</ion-col>
            <ion-col style="font-weight:600; font-size:11px;">ACCENTS</ion-col>
        </ion-row>

        <ion-row class="max-width"  justify-content-center align-items-center>
            <ion-col style="font-size:11px;">
                <mat-icon class="material-icons" style="color: #009376;">brightness_1</mat-icon> COLOR
            </ion-col>
            <ion-col style="font-size:11px;">PATTERN</ion-col>
            <ion-col style="font-size:11px;">ACCENTS</ion-col>
        </ion-row>

    </ion-grid>
</ion-content>