<ion-content>
  <ion-slides pager="true" [options]="slideOpts" class="max-size">
    <ion-slide>
      <ion-grid class="max-size">

        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 10%;">
          <h2 class="max-size" style="text-align: center;">
            <b>Swapped is here to…</b>
          </h2>
        </ion-row>

        <ion-row style="height: 40%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <img src="assets/images/ht-1.png" width="25%"/>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <b>Help you save</b>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 20%; text-align: center;">
          <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
            As a shopping alternative, Swapped will let you
            find your old stuffs’ worth. Imagine bringing
            home the dress of your dreams, in exchange
            for your unwanted pair of shorts!
          </p>
        </ion-row>

        <ion-row style="height: 10%;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <button mat-button routerLink="/home" color="primary">Skip</button>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 5%;"></ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="max-size">

        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 10%;">
          <h2 class="max-size" style="text-align: center;">
            <b>Swapped is here to…</b>
          </h2>
        </ion-row>

        <ion-row style="height: 40%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <img src="assets/images/ht-1.png" width="25%"/>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 15%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
             <b>Help you wear you</b>
            </ion-row>
          </ion-grid>
        </ion-row>

      <ion-row style="height: 20%; text-align: center;">
        <p style="font-size: 15px; padding-left: 20px; padding-right: 20px;">
          Swapped’s interest-based matching will allow
          you to express your item and style preferences
          and in turn, rewards you with a wardrobe that
          really feels like you!
        </p>
      </ion-row>

      <ion-row style="height: 10%;"></ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="max-size">

        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 10%;">
          <h2 class="max-size" style="text-align: center;">
            <b>Swapped is here to…</b>
          </h2>
        </ion-row>

        <ion-row style="height: 40%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <img src="assets/images/ht-1.png" width="25%"/>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 15%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <b style="padding-left: 15px; padding-right: 15px;">
                Help you (and the earth)
                accumulate less trash!
              </b>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 20%; text-align: center;">
          <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
            With Swapped’s matching feature, clothes
            circulate instead of being discarded. We all
            love fashion, but we love the earth more!
          </p>
        </ion-row>

        <ion-row style="height: 10%;"></ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid class="max-size">

        <ion-row style="height: 5%;"></ion-row>

        <ion-row style="height: 10%;">
          <h2 class="max-size" style="text-align: center;">
            <b>Swapped is here to…</b>
          </h2>
        </ion-row>

        <ion-row style="height: 40%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <img src="assets/images/ht-1.png" width="25%"/>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 15%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <b style="padding-left: 15px; padding-right: 15px;">
                Help you meet fashion-loving
                people near you
              </b>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 15%; text-align: center;">
          <p style="font-size: 15px; padding-left: 15px; padding-right: 15px;">
            Swap will cater to your preferences by
            displaying users who might have what
            you’re looking for. Chat them at at any
            moment and stay connected!
          </p>
        </ion-row>

        <ion-row style="height: 10%;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <button mat-button color="primary" routerLink="/home">Let's Do This</button>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row style="height: 5%;"></ion-row>

      </ion-grid>
    </ion-slide>

  </ion-slides>
</ion-content>
