.footer {
    height: 8%;
    text-align: center;
    border-top: .5px solid #eeeeee;
}

.single-profile-data {
    width: 100%
}

.separator {
    border-bottom: #eeeeee solid 1px;
    height: 55% !important;
    margin: 0px 10px 0px;
}

.container-tabs {
    height: 62%;
}

.tab-content {
    top: 30% !important;
    padding: 0px 5px 0px;
    background: var(--ion-background-color,rgb(255, 255, 255));
}

.tab-buttons-container {
    height: 34px !important;
    background: var(--ion-background-color,rgb(255, 255, 255));
}

.tab-buttons {
    font-size: 12px;
}

.container-profile {
    height: 30%;
    background: var(--ion-background-color,rgb(255, 255, 255));
    width: 100%
}

.footer-buttons {
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
    background: var(--ion-background-color, #ffffff);
    width: 60%;
    height: 60%;
}

.profile-picture {
    float: right;
    width: 90%;
    height: 90%;
}

.profile-name {
    font-size: 18px;
    font-weight: 900;
}

.profile-city {
    font-size: 13px;
    color: #009376;
    margin-left: 3px;
}

.profile-number-data {
    font-size: 11px;
    font-weight: 600;
}

.profile-label-data {
    font-size: 11px;
    margin-bottom: 10px;
}

.m10 {
    margin-bottom: -12px !important;
}

.profile-see-bio {
    margin-top: 19px;
    font-size: 11px;
    color: #686868;
}

.icon-marker {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.icon-cog {
    width: 16px;
    height: 16px;
    float: right;
    display: inherit;
}

.col-desc {
    color: #818181;
    font-size: 11px;
}

.col-data {
    color: #818181;
    font-size: 16px;
    font-weight: 700;
}

.tabs-contents {
    height: 60%;
    padding: 10px;
}

.add-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.tab-selected {
    padding: 0;
    border: #fff;
    border-bottom: #009376;
    border-style: solid;
}

.card-body { 
    padding-top: 20%;
    text-align: center;
    height: 80%;
}

ion-card:focus{
    outline: none;
}