<ion-grid style="height:100%; padding: 0px;">
    <ion-row class="container-profile">
        <ion-grid>
            <ion-row class="separator">
                <ion-col style="text-align:left; padding-top:3px;">
                    <div style="padding-top:5px;">
                        <ion-label  class="profile-name" > {{ strProfileName }}</ion-label>
                    </div>
                    <div style="margin-bottom:9px; margin-top:3px;">
                        <ion-img src="assets/icon/icon_marker.png" class="icon-marker"></ion-img>
                        <ion-label class="profile-city">{{ strProfileCity }}</ion-label>
                    </div>
                    <div>
                        <ion-label class="profile-see-bio"> View my style bio here </ion-label>
                    </div>
                </ion-col>
                <ion-col style="max-width:30%;">
                    <ion-img [src]="strProfilePhoto" class="profile-picture"></ion-img>
                </ion-col>
                <span>
                    <mat-icon routerLink="/message" style="color: #009376; font-size: 18px; outline: none;">mail_outline</mat-icon>
                </span>
            </ion-row>

            <div style="border-bottom: #eeeeee solid 1px; margin: 0px 10px 0px; padding: 10px 0px 10px;">
                <div class="row">
                    <span class="col-data">{{ intSwapHost }}</span>
                    <span class="col-data" style="padding-left: 64px;">{{ intPeopleReached }}</span>
                    <span class="col-data" style="padding-left: 61px;">{{ intClothesSold }}</span>
                    <span class="col-data" style="padding-left: 61px;"><ion-img src="assets/icon/icon_toggle.png" class="icon-cog"></ion-img></span>
                </div>
                <div class="row">
                    <span class="col-desc" style="padding-right: 40px;" >Swaps</span>
                    <span class="col-desc">Users</span>
                    <span class="col-desc" style="padding-left: 50px;">Clothes</span>
                </div>
                <div class="row" style="margin-top: -6px">
                    <span class="col-desc" style="padding-right: 37px">Hosted</span>
                    <span class="col-desc">Reached</span>
                    <span class="col-desc" style="padding-left: 35px;">Sold</span>
                </div>
            </div >

        </ion-grid>
    </ion-row>

    <ion-row class="container-tabs">

        <ion-tabs class="tab-content">

            <!-- WISH LIST CONTENT -->
            <ion-tab tab="wishlist" class="tabs-contents">
                <ion-card class="card-body" routerLink="/profile/wishlist1">
                    <ion-card-header>
                        <ion-img src="assets/icon/icon_add.png" class="add-icon"></ion-img>
                    </ion-card-header>
                    
                    <ion-card-content>
                        Add a wishlist item!
                    </ion-card-content>
                </ion-card>
            </ion-tab>

            <!-- ITEMS CONTENT -->
            <ion-tab tab="items" class="tabs-contents">
                <ion-card class="card-body" (click)="presentModal('items')">
                    <ion-card-header>
                        <ion-img src="assets/icon/icon_add.png" class="add-icon"></ion-img>
                    </ion-card-header>
                    
                    <ion-card-content>
                        Add an item!
                    </ion-card-content>
                </ion-card>
            </ion-tab>

            <!-- BUNDLES CONTENT -->
            <ion-tab tab="bundles" class="tabs-contents"  routerLink="/profile/bundles">
                <ion-card class="card-body">
                    <ion-card-header>
                        <ion-img src="assets/icon/icon_add.png" class="add-icon"></ion-img>
                    </ion-card-header>
                    
                    <ion-card-content>
                        Add bundles!
                    </ion-card-content>
                </ion-card>
            </ion-tab>
          
            <ion-tab-bar slot="top" class="tab-buttons-container">
          
                <ion-tab-button tab="wishlist">
                    <ion-label  class="tab-buttons">Wishlist</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="items">
                    <ion-label  class="tab-buttons">My Items</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="bundles">
                    <ion-label  class="tab-buttons">My Bundles</ion-label>
                </ion-tab-button>
          
            </ion-tab-bar>
          </ion-tabs>

    </ion-row>

    <ion-row class="footer">
        <ion-col>
            <ion-img  routerLink="/bundle" src="assets/icon/icon_home.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img routerLink="/item" src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_main.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_toggle.png" class="footer-buttons"></ion-img>
        </ion-col>
        <ion-col>
            <ion-img src="assets/icon/icon_search.png" class="footer-buttons"></ion-img>
        </ion-col>
    </ion-row>
</ion-grid>
