<ion-content>
  <ion-grid class="container">
    <ion-row justify-content-center align-items-center style="height: 80%; flex-direction: column">
      <h1 style="font-size: 40px; color: white;">
        <b>
          Welcome to
          Swapped, your
          matchmaker for
          clothes.
        </b>
      </h1>
    </ion-row>
  </ion-grid>
</ion-content>
