<ion-header no-border>
<<<<<<< HEAD
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button class="btn-back"
                [text]="buttonText"
                [icon]="buttonIcon">
            </ion-back-button>
          </ion-buttons>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-grid>
=======
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid >
          
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
    
            <ion-row class="swiper-container">
                <ion-grid class="max-size">
                    <ion-row justify-content-center align-items-center style="flex-direction: column;">
                        <div>
                          <br>
                          <p style="font-size: 13px; text-align: center;">Step 3 of 4</p>
                            <div class="swiper-pagination swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet test"></span>
                                <span class="swiper-pagination-bullet test"></span>
                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                <span class="swiper-pagination-bullet test"></span>
                            </div>
                        </div>
                    </ion-row>
                </ion-grid>
            </ion-row>
    
      
            <ion-row style="height: 10%;">
              <ion-grid class="max-size">
                  <ion-row justify-content-center align-items-center class="texts-container">
                      <span class="texts">What item are you listing?</span>
                  </ion-row>

                  <ion-row class="max-width">
                      <ion-row class="max-width item-select" routerLink="/profile/wishlist3-choose/dresses">
                          <ion-col class="align-text-middle">
                            <span>Dresses</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>
                      <ion-row class="max-width item-select" routerLink="/profile/wishlist3-choose/tops">
                          <ion-col class="align-text-middle">
                            <span>Tops</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>
                      <ion-row class="max-width item-select" routerLink="/profile/wishlist3-choose/jackets">
                          <ion-col class="align-text-middle" size="8">
                            <span>Jackets and Sweaters</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>
                      <ion-row class="max-width item-select" routerLink="/profile/wishlist3-choose/shorts">
                          <ion-col class="align-text-middle">
                            <span>Shorts</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>
                      <ion-row class="max-width item-select" routerLink="/profile/wishlist3-choose/skirts">
                          <ion-col class="align-text-middle">
                            <span>Skirts</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>          
                      <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/profile/wishlist3-choose/pants">
                          <ion-col class="align-text-middle">
                            <span>Pants</span>
                          </ion-col>
                          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                      </ion-row>
                  </ion-row>
          
              </ion-grid>
            </ion-row>
        </ion-grid>
    </ion-content>
    
    <ion-footer class= "footer-container" no-border >
        <ion-toolbar>
            <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/wishlist4">Next</button>
        </ion-toolbar>
    </ion-footer>
      