ion-grid {
<<<<<<< HEAD
    padding: 0px 10px 0px !important;
=======
    padding: 0px !important;
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
    margin: 0px !important;
  }
  
.max-size {
    width: 100%;
    height: 100%;
    text-align: center;
}

.max-width {
    width: 100%;
}
  
.btn-next {
<<<<<<< HEAD
    width: 90%;
=======
    width: 100%;
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
}

  
.swiper-pagination-bullet {
padding-right: 10px;
}

.footer-container {
    text-align: center;
}

.texts {
    font-size: 14px;
    font-weight: 600;
    margin-bottom : 10px;
}

.texts-container {
    padding-top: 15px;
}


.btn-back {
    display: inline;
    font-size: 15px;
}

.swiper-container {
    margin-bottom: 10px;
    height: 30%;
}


.input-size {
    width: 100%;
    height: 20px; 
    padding-left: 2px; 
    padding-right: 2px; 
  }

.test {
  background-color: #F0F0F0;
}

.item-select {
    padding: 0px 10px 0px 10px;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.dd-caret {
    float:right; 
    color: rgb(197, 197, 197);
}

.align-text-middle {
    display: flex;
    align-items: center;
}

.footer-container {
    text-align: center;
}