<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <h1><b>{{ objLabels[strType]['label']}}</b></h1>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
                  <div style="text-align: center;">
                    <span style="font-size: 13px;">Step 1 of 2</span>
                  </div>
                  <div class="swiper-pagination swiper-pagination-bullets">
                      <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                      <span class="swiper-pagination-bullet test"></span>
                  </div>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row style="height: 10%;">
            <ion-grid class="max-size">
                <ion-row class="max-size" style="flex-direction: column">
                    <h4 style="margin-left: 20px;"><b>{{ objLabels[strType]['title']}}</b></h4>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row style="height: 50%;">
          <ion-col *ngIf="strType == 'bundle_a'" class="max-size" style="padding: 0px;">
              <ion-row class="max-width item-select" routerLink="/register/step3/choose/dresses">
                <ion-col class="align-text-middle">
                  <span>Dresses</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/register/step3/choose/tops">
                <ion-col class="align-text-middle">
                  <span>Tops</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/register/step3/choose/jackets">
                <ion-col class="align-text-middle" size="8">
                  <span>Jackets and Sweaters</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/register/step3/choose/shorts">
                <ion-col class="align-text-middle">
                  <span>Shorts</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
              <ion-row class="max-width item-select" routerLink="/register/step3/choose/skirts">
                <ion-col class="align-text-middle">
                  <span>Skirts</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>          
              <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/register/step3/choose/pants">
                <ion-col class="align-text-middle">
                  <span>Pants</span>
                </ion-col>
                <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
              </ion-row>
          </ion-col>
          <ion-col *ngIf="strType == 'bundle_b'" class="max-size" style="padding: 0px;">
            
            <ion-row class="max-width item-select" (click)="toggleOccasion()">
              <ion-col class="align-text-middle">
                <span *ngIf="!bOpenOcassion">Occasion</span>
                <span *ngIf="bOpenOcassion"><b>Occasion</b></span>
              </ion-col>
              <ion-col>
                  <mat-icon *ngIf="!bOpenOcassion" class="dd-caret">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="bOpenOcassion" class="dd-caret">keyboard_arrow_down</mat-icon>
                </ion-col>
            </ion-row>

            <div *ngIf="bOpenOcassion">
                <ion-row *ngFor ="let occ of arOccasion" class="max-width item-select">
                  <ion-col style="padding-left: 15px;" class="align-text-middle">
                    <ion-checkbox [(ngModel)]="occ['included']"></ion-checkbox>
                    <span style="margin-left: 5px;">{{ occ['name'] }}</span>
                  </ion-col>
                </ion-row>
            </div>

            <ion-row class="max-width item-select" (click)="toggleColor()">
              <ion-col class="align-text-middle">
                <span *ngIf="!bOpenColor">Color</span>
                <span *ngIf="bOpenColor"><b>Color</b></span>
              </ion-col>
              <ion-col>
                  <mat-icon *ngIf="!bOpenColor" class="dd-caret">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="bOpenColor" class="dd-caret">keyboard_arrow_down</mat-icon>
                </ion-col>
            </ion-row>

            <div *ngIf="bOpenColor">
                <ion-row *ngFor ="let color of arColor" class="max-width item-select">
                  <ion-col style="padding-left: 15px;" class="align-text-middle">
                    <ion-checkbox [(ngModel)]="color['included']"></ion-checkbox>
                    <span style="margin-left: 5px;">{{ color['name'] }}</span>
                  </ion-col>
                </ion-row>
            </div>

            <ion-row class="max-width item-select" (click)="toggleStyle()">
              <ion-col class="align-text-middle" size="8">
                <span *ngIf="!bOpenStyle">Fashion Style</span>
                <span *ngIf="bOpenStyle"><b>Fashion Style</b></span>
              </ion-col>
              <ion-col>
                  <mat-icon *ngIf="!bOpenStyle" class="dd-caret">keyboard_arrow_right</mat-icon>
                  <mat-icon *ngIf="bOpenStyle" class="dd-caret">keyboard_arrow_down</mat-icon>
                </ion-col>
            </ion-row>

            <div *ngIf="bOpenStyle">
              <ion-row *ngFor ="let style of arStyle" class="max-width item-select">
                <ion-col style="padding-left: 15px;" class="align-text-middle">
                  <ion-checkbox [(ngModel)]="style['included']"></ion-checkbox>
                  <span style="margin-left: 5px;">{{ style['name'] }}</span>
                </ion-col>
              </ion-row>
            </div>

            <ion-row class="max-width item-select" (click)="toggleDetail()">
              <ion-col class="align-text-middle">
                <span *ngIf="!bOpenDetail">Clothing Detail</span>
                <span *ngIf="bOpenDetail"><b>Clothing Detail</b></span>
              </ion-col>
              <ion-col>
                <mat-icon *ngIf="!bOpenDetail" class="dd-caret">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="bOpenDetail" class="dd-caret">keyboard_arrow_down</mat-icon>
              </ion-col>
            </ion-row>

            <div *ngIf="bOpenDetail">
              <ion-row *ngFor ="let detail of arDetail" class="max-width" routerLink="/profile/bundles/step4/choose/{{detail['id']}}" [ngClass]="{'item-select': detail['id'] != 'rise', 'item-select-last': detail['id'] == 'rise'}">
                <ion-col style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;" class="align-text-middle">
                  <span style="margin-left: 5px;">{{ detail['name'] }}</span>
                  <ion-col>
                    <mat-icon class="dd-caret">keyboard_arrow_right</mat-icon>
                  </ion-col>
                </ion-col>
              </ion-row>
            </div>

          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
  