ion-grid {
    padding: 0px !important;
    margin: 0px !important;
  }
  
.max-size {
    width: 100%;
    height: 100%;
}


.max-width {
    width: 100%;
    margin-top: 18px;
    padding: 0px 30px 0px;
}
  

.test {
    background-color: #F0F0F0;
}


.btn-back {
    display: inline;
    font-size: 15px;
}


.item-image {
    height: 95%;
}

.image-container {
    height: 30%;
    width: 100%;
    padding: 0px 20px 0px;
}