<ion-content padding>
  <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
          <img src="assets/logo_login.png" class="logo"/>

          <button class="btn-login" routerLink="/login"><b>Log-in</b></button>
          <button class="btn-signup" routerLink="/register"><b>Sign-up</b></button>
        </ion-row>
      </ion-grid>
</ion-content>
