.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.btn-login {
    width: 50%;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
}


.btn-signup {
    width: 50%;
    height: 44px;
    font-size: 16px;
    color: #009376 !important;
    background: var(--ion-background-color,#ffffff);
    margin-bottom: 6px;
}

.logo {
    margin-bottom: 50%;
    width : 50%;
}

button:focus{
    outline: none;
}