<ion-header no-border>
  <ion-toolbar>
    <div style="padding: 20px;">
      <span style="font-size: 30px; font-weight: 600;">You are <br>matched with.</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid style="padding-top: 10px !important;">
      <ion-row>
          <ion-card>
            <ion-card-header>
                <div style="position: relative; height: 120px;">
                    <img style="position: absolute; left: 50%; margin-left: -100px;" class="profile slide-right" src="assets/pic.png" alt="Avatar">
                    <img style="position: absolute; left: 50%; margin-left: -10px;" class="profile slide-left" src="assets/pic.png" alt="Avatar">
                </div>
            </ion-card-header>
          
            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col style="text-align: center">
                        <span style="font-size: 18px; font-weight: 600; color: black;">Elle</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="font-size: 14px; text-align: right; color: black" size="5">You could be interested in Tin's <b>Shirt</b>.</ion-col>
                    <ion-col size="2">
                      <div style="background-color: #E2E2E2; width: 1px; height: 100%; margin: auto;"></div>
                    </ion-col>
                    <ion-col style="font-size: 14px;  text-align: left; color: black" size="5">Tin could be interested in your <b>Dress</b>.</ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                        <button mat-flat-button class="btn-next" routerLink="/message">Chat user</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>
      </ion-row>
      <ion-row>
          <ion-card>
            <ion-card-header>
                <div style="position: relative; height: 120px;">
                    <img style="position: absolute; left: 50%; margin-left: -105px;" class="profile slide-right" src="assets/pic.png" alt="Avatar">
                    <img style="position: absolute; left: 50%; margin-left: -15px;" class="profile slide-left" src="assets/pic.png" alt="Avatar">
                </div>
            </ion-card-header>
          
            <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col style="text-align: center">
                        <span style="font-size: 18px; font-weight: 600; color: black;">Elle</span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="font-size: 14px; text-align: right; color: black" size="5">You could be interested in Tin's <b>Shirt</b>.</ion-col>
                    <ion-col size="2">
                      <div style="background-color: #E2E2E2; width: 1px; height: 100%; margin: auto;"></div>
                    </ion-col>
                    <ion-col style="font-size: 14px;  text-align: left; color: black" size="5">Tin could be interested in your <b>Dress</b>.</ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                        <button mat-flat-button class="btn-next" routerLink="/message">Chat user</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>
      </ion-row>

      <ion-row>
        <ion-col style="text-align: center"><button (click)="scrollToTop()"mat-button color="primary">Back to top</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
    