<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
<<<<<<< HEAD
    <ion-grid>
        <ion-row style="height: 10%;">
          <ion-grid class="max-size">
              <ion-row justify-content-center align-items-center class="texts-container">
                  <span class="texts">Tell us more about your listing!</span>
              </ion-row>

              <ion-row class="max-width">

                  <ion-row class="max-width item-select" routerLink="/profile/wishlist6-choose/top_details">
                      <ion-col class="align-text-middle">
                        <span>Top details</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                  </ion-row>

                  <ion-row class="max-width item-select" routerLink="/profile/wishlist6-choose/skirt_length">
                      <ion-col class="align-text-middle">
                        <span>Skirt length</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                  </ion-row>

                  <ion-row class="max-width item-select" routerLink="/profile/wishlist6-choose/rise">
                      <ion-col class="align-text-middle" size="8">
                        <span>Rise</span>
                      </ion-col>
                      <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
                  </ion-row>

              </ion-row>
          </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>
=======
  <ion-grid style="height: 100%;">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
      
      <ion-text color="dark" style="text-align:center; padding: 20px;">
        <h2><b>Tell us more about the item.</b></h2>
      </ion-text>

      <br>

      <div style="padding: 0px; width: 100%;">
        <ion-row class="max-width item-select" (click)="toggleDetail1()">
          <ion-col class="align-text-middle">
            <span *ngIf="!bOpenDetail1">Top details</span>
            <span *ngIf="bOpenDetail1"><b>Top details</b></span>
          </ion-col>
          <ion-col>
            <mat-icon *ngIf="!bOpenDetail1" class="dd-caret">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="bOpenDetail1" class="dd-caret">keyboard_arrow_down</mat-icon>
          </ion-col>
        </ion-row>

        <div *ngIf="bOpenDetail1">
          <ion-row *ngFor ="let detail of arDetail1" class="max-width item-select" routerLink="/profile/wishlist6/choose/{{detail['id']}}">
            <ion-col style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;" class="align-text-middle">
              <span style="margin-left: 5px;">{{ detail['name'] }}</span>
              <ion-col>
                <mat-icon class="dd-caret">keyboard_arrow_right</mat-icon>
              </ion-col>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="max-width item-select" (click)="toggleDetail2()">
          <ion-col class="align-text-middle">
            <span *ngIf="!bOpenDetail2">Dress details</span>
            <span *ngIf="bOpenDetail2"><b>Dress details</b></span>
          </ion-col>
          <ion-col>
            <mat-icon *ngIf="!bOpenDetail2" class="dd-caret">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="bOpenDetail2" class="dd-caret">keyboard_arrow_down</mat-icon>
          </ion-col>
        </ion-row>

        <div *ngIf="bOpenDetail2">
          <ion-row *ngFor ="let detail of arDetail2" class="max-width item-select" routerLink="/profile/wishlist6/choose/{{detail['id']}}">
            <ion-col style="padding-left: 15px; padding-top: 0px; padding-bottom: 0px;" class="align-text-middle">
              <span style="margin-left: 5px;">{{ detail['name'] }}</span>
              <ion-col>
                <mat-icon class="dd-caret">keyboard_arrow_right</mat-icon>
              </ion-col>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="max-width item-select" style="padding: 0px 10px 0px 10px;" routerLink="/profile/wishlist6/choose/rise">
          <ion-col class="align-text-middle">
            <span>Bottom details</span>
          </ion-col>
          <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
        </ion-row>

        <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/profile/wishlist6/choose/general">
          <ion-col class="align-text-middle">
            <span>General</span>
          </ion-col>
        <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <ion-row class="max-width" style="padding: 0px 10px 0px 10px;">
      <ion-col>
        <button mat-flat-button color="primary"class="btn-next" routerLink="/profile/wishlist-done">Done</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
>>>>>>> 2efc2237cb88a9f4f73f189b5f30504bd58076ae
