<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
                    <div>
                      <br>
                      <p style="font-size: 13px; text-align: center;">Step 1 of 4</p>
                        <div class="swiper-pagination swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet test"></span>
                            <span class="swiper-pagination-bullet test"></span>
                        </div>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-row>

  
        <ion-row style="height: 10%;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="texts-container" (click)="fileInput.click()">
              <ion-img src="assets/icon/icon_marker.png" class="text-icon"></ion-img>
                <span class="texts">Upload your reference photo here</span>
                <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
            </ion-row>
          </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class= "footer-container" no-border *ngIf="isUploaded">
    <ion-toolbar>
        <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/wishlist2">Next</button>
    </ion-toolbar>
</ion-footer>
  