<ion-content>
    <ion-grid>
      

      <ion-row style="height: 30%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <div>
              <br>
              <p style="font-size: 13px; text-align: center;">4 Step Sign Up</p>
              <div class="swiper-pagination swiper-pagination-bullets">
                  <span class="swiper-pagination-bullet test"></span>
                  <span class="swiper-pagination-bullet test"></span>
                  <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                  <span class="swiper-pagination-bullet test"></span>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>

  
      <ion-row style="height: 10%;">
        <ion-grid class="max-size" >
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <h1 style="text-align: center;"><b>
              Choose your most-worn
              styles per garment type</b></h1>
          </ion-row>
        </ion-grid>
      </ion-row>
  
      <ion-row style="height: 60%;">
        <ion-col class="max-size" style="padding: 0px; padding-top: 30px;">
  
          <ion-row class="max-width item-select" routerLink="/register/step3/choose/dresses">
            <ion-col class="align-text-middle">
              <span>Dresses</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>
          <ion-row class="max-width item-select" routerLink="/register/step3/choose/tops">
            <ion-col class="align-text-middle">
              <span>Tops</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>
          <ion-row class="max-width item-select" routerLink="/register/step3/choose/jackets">
            <ion-col class="align-text-middle" size="8">
              <span>Jackets and Sweaters</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>
          <ion-row class="max-width item-select" routerLink="/register/step3/choose/shorts">
            <ion-col class="align-text-middle">
              <span>Shorts</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>
          <ion-row class="max-width item-select" routerLink="/register/step3/choose/skirts">
            <ion-col class="align-text-middle">
              <span>Skirts</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>          
          <ion-row class="max-width" style="padding: 0px 10px 0px 10px;" routerLink="/register/step3/choose/pants">
            <ion-col class="align-text-middle">
              <span>Pants</span>
            </ion-col>
            <ion-col><mat-icon class="dd-caret">keyboard_arrow_right</mat-icon></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar transparent>
      <button mat-flat-button color="primary"class="btn-next" routerLink="/register/step4">Next</button>
    </ion-toolbar>
  </ion-footer>