<ion-content>
  <ion-grid style="height: 100%;">
    
    <ion-row style="height: 80%; padding: 20px;">
      <ion-grid class="max-size">
        <ion-row justify-content-center align-items-center style="flex-direction: column; text-align:center;">
            <p style="font-size: 15px; text-align: center;">
              During photo production, you are
              advised to make each item contained in
              the bundle visible. To achieve this, take
              your photos in good lighting,against an
              uncluttered background and use fashion
              display tools such as mannequins,
              hangers, racks, etc.
            </p>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row style="height: 20%;  padding: 15px;">
      <ion-grid class="max-size">
          <button mat-flat-button class="btn-skip" (click)="closeModal()">Got it!</button>
      </ion-grid>
    </ion-row>

  </ion-grid>
</ion-content>
