ion-grid {
    padding: 0px 10px 0px !important;
    margin: 0px !important;
  }
  
.max-size {
    width: 100%;
    height: 100%;
    text-align: center;
}

.max-width {
    width: 100%;
}
  
.btn-next {
    width: 90%;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
}

  .test {
    background-color: #F0F0F0;
  }
  
  .swiper-pagination-bullet {
    padding-right: 10px;
  }

.footer-container {
    text-align: center;
}

.texts {
    font-size: 14px;
    font-weight: 600;
    margin-bottom : 10px;
}

.texts-container {
    padding-top: 15px;
}


.btn-back {
    display: inline;
    font-size: 15px;
}

.swiper-container {
    margin-bottom: 10px;
    height: 30%;
}


.input-size {
    width: 100%;
    height: 20px; 
    padding-left: 2px; 
    padding-right: 2px; 
  }

ion-checkbox {
     border-width: 1px !important;
     border-style: solid !important;
     border-radius: 2px;
     border-color : #f4f4f4 !important;
     --height : 12px;
     --width: 12px;
     --checkmark-color:#009376;
     --background-checked: #ffffff;
     --border-color: #ffffff;
     --border-color-checked :#ffffff;
     --border-style: none;
}