<ion-header no-border>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button class="btn-back"
                [text]="buttonText"
                [icon]="buttonIcon">
            </ion-back-button>
          </ion-buttons>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-grid>
    
            <ion-row class="swiper-container">
                <ion-grid class="max-size">
                    <ion-row justify-content-center align-items-center style="flex-direction: column;">
                        <div>
                          <br>
                          <p style="font-size: 13px; text-align: center;">Step 2 of 4</p>
                            <div class="swiper-pagination swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet test"></span>
                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                <span class="swiper-pagination-bullet test"></span>
                                <span class="swiper-pagination-bullet test"></span>
                            </div>
                        </div>
                    </ion-row>
                </ion-grid>
            </ion-row>
    
      
            <ion-row style="height: 10%;">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="texts-container">
                    <span class="texts">Input the size you're looking for</span>
                </ion-row>

                        <ion-row class="max-width">
                          <ion-col>
                            <mat-form-field class="input-size">
                              <input matInput type="text" placeholder="Bottoms, in inches.">
                              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                                <mat-icon>close</mat-icon>
                              </button>
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
              
                        <br>
                
                        <ion-row class="max-width">
                          <ion-col>
                            <ion-select placeholder="Tops" style="border: 2px solid #F6F6F6;">
                                <ion-select-option value="xxs">XXS</ion-select-option>
                                <ion-select-option value="xs">XS</ion-select-option>
                                <ion-select-option value="s">S</ion-select-option>
                                <ion-select-option value="m">M</ion-select-option>
                                <ion-select-option value="l">L</ion-select-option>
                                <ion-select-option value="xl">XL</ion-select-option>
                                <ion-select-option value="xxl">XXL</ion-select-option>
                            </ion-select>
                          </ion-col>
                        </ion-row>

                        <ion-row class="max-width">
                            <ion-item lines="none">
                                <ion-checkbox class="checkbox" [(ngModel)]="isFreesize"></ion-checkbox>
                                <ion-label style="font-size: 14px; padding-left: 3px;">Freesize / Garterized</ion-label>
                            </ion-item>
                        </ion-row>
                
              </ion-grid>
            </ion-row>
        </ion-grid>
    </ion-content>
    
    <ion-footer class= "footer-container" no-border >
        <ion-toolbar>
            <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/wishlist3">Next</button>
        </ion-toolbar>
    </ion-footer>
      