<ion-content>
    <ion-grid style="height: 100%;">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
  
        <ion-text color="dark" style="text-align:center; padding: 20px;">
          <h1>
            <b>Matching you with a user.</b>
          </h1>
        </ion-text>
        <img src="assets/logo_login.png" width="50%" class="rotate-center"/>
        <br><br><br><br><br><br>
  
        <div style="padding: 0px; width: 100%;">
          <ion-row class="max-width" style="padding: 0px 10px 0px 10px; text-align: center; font-size: 20px;">
            <ion-col>
                <button mat-button routerLink="/profile/bundles/step2" color="primary">Cancel</button>
            </ion-col>
          </ion-row>
        </div>
  
      </ion-row>
    </ion-grid>
  </ion-content>
    