<ion-content>
  <ion-grid style="height: 100%;">
    
    <ion-row style="height: 70%; padding: 20px;">
      <ion-grid class="max-size">
        <ion-row justify-content-center align-items-center style="flex-direction: column; text-align:center;">
            <h4><b>Have too many items for swap?</b></h4>
            <h4>List them as bundles instead!</h4>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row style="height: 30%;  padding: 15px;">
      <ion-grid class="max-size">
          <button mat-flat-button class="btn-next" (click)="closeModal('bundles')">Post a bundle!</button>
          <button mat-flat-button class="btn-skip" (click)="closeModal('items')">Skip</button>
      </ion-grid>
    </ion-row>

  </ion-grid>
</ion-content>
