<ion-content padding>
  <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
          <img src="assets/icon/banner.png" width="55%"/>
        </ion-row>
      </ion-grid>
</ion-content>
