<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
            <p style="font-size: 15px; text-align: center; font-weight: 800;">Want to describe this item further?</p>
  
            <button class="btn-login" routerLink="/profile/wishlist6"><b>Yes, please!</b></button>
            <button class="btn-signup" routerLink="/profile/wishlist-done"><b>Skip</b></button>
          </ion-row>
        </ion-grid>
  </ion-content>
  