ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.max-size {
    width: 100%;
    height: 100%;
}
.btn-next {
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  background: var(--ion-background-color,#009376);
  border-radius: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
}

.common {
  font-size: 20px; 
  color: #009376; 
  font-weight: 600;
}

.commonsmall {
  font-size: 12px; 
  color: #009376; 
  font-weight: 600;
}

.commonb {
  font-size: 20px; 
  color: #000; 
  font-weight: 600;
}

.commonbsmall {
  font-size: 12px; 
  color: #000; 
  font-weight: 600;
}

.btn-next {
    width: 100%;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: var(--ion-background-color,#009376);
    border-radius: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
  }

.profile {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-bottom: 5px;
    -webkit-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75);
    box-shadow: -3px 4px 13px -3px rgba(0,0,0,0.75); 
}