<ion-header no-border>
    <ion-toolbar>
      <ion-grid style="padding: 20px;">
        <ion-row>
          <ion-col>
            <span style="font-size: 30px; font-weight: 600;">Home</span>
          </ion-col>
          <ion-col style="text-align: rightt;">
            <span style="font-size: 10px; font-weight: 600;">View more <br>suggestions for you</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid style="padding-top: 10px !important;">
        <ion-row>
            <ion-card>
              <ion-card-content>
                <span class="common">16</span><br/>
                <span class="commonsmall">Feb</span><br/><br/>
                <span class="commonb">A Swap in Katipunan</span><br/>
                <span class="commonbsmall">by <b>Luisa</b></span><br/>
              </ion-card-content>
            </ion-card>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: center"><button (click)="scrollToTop()"mat-button color="primary">Back to top</button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
      