<ion-content>
    <ion-grid style="height: 100%;">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column;">
        <img src="assets/logo_login.png" width="50%"/>
        <br><br><br><br>
        <ion-text color="dark" style="text-align:center; padding: 20px;">
          <h1>
            <b>We're sorry!</b>
          </h1>
          <p style="font-size: 14px;"><b>No matches found at the moment.</b></p>
          <span style="font-size: 13px;">View open swaps at the moment! You may also checkout 
            <a href="#">lists</a> curated to your likes!</span>
        </ion-text>
    
      </ion-row>
    </ion-grid>
  </ion-content>
    