<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="btn-back"
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <ion-row style="height: 10%; text-align: center;">
          <ion-grid class="max-size">
            <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
              <h1><b>Preliminary Steps</b></h1>
            </ion-row>
          </ion-grid>
        </ion-row>

        <ion-row class="swiper-container">
            <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center style="flex-direction: column;">
                    <div>
                        <span style="font-size: 13px; text-align: center;">Step 1 of 2</span>
                        <div class="swiper-pagination swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                            <span class="swiper-pagination-bullet test"></span>
                        </div>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-row>

  
        <ion-row style="height: 10%;">
          <ion-grid class="max-size">
            <ion-row (click)="presentModal()">
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                  <mat-icon style="float: left;">add_photo_alternate</mat-icon>
                  <span style="float: right; margin-top: 5px;" class="texts">Upload your reference photo here</span>
                </ion-col>
                <ion-col size="1"></ion-col>
                <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" />
            </ion-row>
          </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class= "footer-container" no-border>
    <ion-toolbar>
        <button mat-flat-button color="primary" class="btn-next" routerLink="/profile/bundles/step3">Next</button>
    </ion-toolbar>
</ion-footer>
  