ion-grid {
  padding: 0px !important;
  margin: 0px !important;
}

.max-size {
  width: 100%;
  height: 100%;
}


.btn-next {
  width: 90%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  background: var(--ion-background-color,#009376);
  border-radius: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
}

.test {
  background-color: #F0F0F0;
}

.swiper-pagination-bullet {
  padding-right: 10px;
}

.footer-container {
  text-align: center;
}

.texts {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px
}

.texts-container {
  padding-top: 25px;
}
div.fileinputs {
position: relative;
}

div.fakefile {
position: absolute;
top: 0px;
left: 0px;
z-index: 1;
}

input.file {
position: relative;
text-align: right;
-moz-opacity:0 ;
opacity: 0;
z-index: 2;
}

.btn-back {
  display: inline;
  font-size: 15px;
}

.swiper-container {
  margin-bottom: 10px;
  height: 30%;
}