<ion-content>
    <ion-grid>
      

      <ion-row style="height: 30%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <div>
              <br>
              <p style="font-size: 13px; text-align: center;">4 Step Sign Up</p>
              <div class="swiper-pagination swiper-pagination-bullets">
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>

  
      <ion-row style="height: 10%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <h1><b>Describe your wardrobe</b></h1>
          </ion-row>
        </ion-grid>
      </ion-row>
  
      <ion-row style="height: 60%; padding: 10px;">
        <ion-col class="max-size">
  
          <ion-row class="max-width">
            <ion-col>
                <ion-label>You dress up mostly for which occassion/s?</ion-label>
                <ion-select [(ngModel)]="objData['occassions']" multiple="true" placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
                  <ion-select-option value="cocktail">Cocktail Parties</ion-select-option>
                  <ion-select-option value="fancy">Fancy Parties</ion-select-option>
                  <ion-select-option value="formal">Formal Occasions and Night Outs</ion-select-option>
                  <ion-select-option value="lounging">Lounging</ion-select-option>
                  <ion-select-option value="meetings">Office/ Business Meetings</ion-select-option>
                  <ion-select-option value="religious">Religious Ceremonies</ion-select-option>
                  <ion-select-option value="school">School</ion-select-option>
                  <ion-select-option value="travel_cold">Travel (Cold Climate)</ion-select-option>
                  <ion-select-option value="travel_hot">Travel (Hot Climate)</ion-select-option>
                  <ion-select-option value="workout">Working Out</ion-select-option>
                </ion-select>
            </ion-col>
          </ion-row>
          <br>
  
          <ion-row class="max-width">
            <ion-col>
              <ion-label>What are the dominant colors in <br> your wardrobe?</ion-label>
              <ion-select [(ngModel)]="objData['colors']" multiple="true" placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
                  <ion-select-option value="black">Black</ion-select-option>
                  <ion-select-option value="grey">Grey</ion-select-option>
                  <ion-select-option value="white">White</ion-select-option>
                  <ion-select-option value="ivory">Ivory</ion-select-option>
                  <ion-select-option value="tan">Tan</ion-select-option>
                  <ion-select-option value="brown">Brown</ion-select-option>
                  <ion-select-option value="purple">Purple</ion-select-option>
                  <ion-select-option value="Bblue">Blue</ion-select-option>
                  <ion-select-option value="teal">Teal</ion-select-option>
                  <ion-select-option value="green">Green</ion-select-option>
                  <ion-select-option value="red">Red</ion-select-option>
                  <ion-select-option value="pink">Pink</ion-select-option>
                  <ion-select-option value="orange">Orange</ion-select-option>
                  <ion-select-option value="yellow">Yellow</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="max-width">
            <ion-col>
              <ion-label>What is your dominant fashion style?</ion-label>
              <ion-select [(ngModel)]="objData['style']" multiple="true" placeholder="Choose" style="border: 2px solid #F6F6F6; margin-top: 10px;">
                <ion-select-option value="minimalistic">Minimalistic</ion-select-option>
                <ion-select-option value="experimental">Experimental</ion-select-option>
                <ion-select-option value="colorful">Colorful</ion-select-option>
                <ion-select-option value="satement_making">Statement-making</ion-select-option>
                <ion-select-option value="feminine">Feminine</ion-select-option>
                <ion-select-option value="straightforward">Straightforward</ion-select-option>
                <ion-select-option value="understated">Understated</ion-select-option>
                <ion-select-option value="sophisticated">Sophisticated</ion-select-option>
                <ion-select-option value="modern">Modern</ion-select-option>
                <ion-select-option value="sultry">Sultry</ion-select-option>
                <ion-select-option value="effortless">Effortless</ion-select-option>
                <ion-select-option value="classic">Classic</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar transparent>
      <button mat-flat-button color="primary"class="btn-next" (click)="saveData()" routerLink="/register/step5">Next</button>
    </ion-toolbar>
  </ion-footer>