<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
<<<<<<< Updated upstream
            [icon]="buttonIcon"
            (click)="saveData()">
=======
            [icon]="buttonIcon">
>>>>>>> Stashed changes
        </ion-back-button>
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngIf="strTag != 'general'" style="height: 10%; text-align: center;">
      <ion-grid class="max-size">
        <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
          <h1><b>{{ objLabels[strTag]['label'] }}</b></h1>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row style="height: 90%;">
        <ion-grid class="max-size">
            <ion-row *ngIf="strTag == 'shoulder_cut'" class="max-width">
              <ion-col>
<<<<<<< Updated upstream
                <ion-select placeholder="Choose" class="dropdown" [(ngModel)]="objData['shoulder_cut']">
=======
                <ion-select placeholder="Choose" class="dropdown">
>>>>>>> Stashed changes
                  <ion-select-option value="off">Off-shoulder</ion-select-option>
                  <ion-select-option value="one">One-shoulder</ion-select-option>
                  <ion-select-option value="cold">Cold shoulder</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'sleeve_length'" class="max-width">
              <ion-col>
<<<<<<< Updated upstream
                  <ion-select placeholder="Choose" class="dropdown" [(ngModel)]="objData['sleeve_length']">
=======
                  <ion-select placeholder="Choose" class="dropdown">
>>>>>>> Stashed changes
                      <ion-select-option value="sleveless">Sleeveless</ion-select-option>
                      <ion-select-option value="short">Short sleeve</ion-select-option>
                      <ion-select-option value="three_fourth">3/4 sleeve</ion-select-option>
                      <ion-select-option value="long">Long sleeve</ion-select-option>
                      <ion-select-option value="strapless">Strapless</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'skirt_length'" class="max-width">
              <ion-col *ngFor="let objItem of objLabels[strTag]['list']; index as i;" size="4" style="text-align: center; font-size: 13px; margin-top: 10px;">
                <div class="max-size" style="padding-bottom: 10px;" [ngClass]="{'is-chosen': objItem['chosen'] == true}">
                  <img src="assets/images/{{strTag}}/{{objItem['img']}}" (click)="chooseThis(objItem)">
                  <span>{{ objItem['name'] }}</span>
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'rise'" class="max-width">
              <ion-col>
<<<<<<< Updated upstream
                  <ion-select placeholder="Choose" class="dropdown" [(ngModel)]="objData['rise']">
=======
                  <ion-select placeholder="Choose" class="dropdown">
>>>>>>> Stashed changes
                      <ion-select-option value="low">Low</ion-select-option>
                      <ion-select-option value="mid">Mid</ion-select-option>
                      <ion-select-option value="high">High</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'general'" class="max-width">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <h1><b>{{ objLabels[strTag]['label1'] }}</b></h1>
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row *ngIf="strTag == 'general'" class="max-width">
              <ion-col>
<<<<<<< Updated upstream
                  <ion-select placeholder="Choose" class="dropdown" [(ngModel)]="objData['pattern']">
=======
                  <ion-select placeholder="Choose" class="dropdown">
>>>>>>> Stashed changes
                      <ion-select-option value="low">Animal print</ion-select-option>
                      <ion-select-option value="low">Argyle</ion-select-option>
                      <ion-select-option value="low">Camo</ion-select-option>
                      <ion-select-option value="low">Checkered & Gingham</ion-select-option>
                      <ion-select-option value="low">Chevron & Herringbone</ion-select-option>
                      <ion-select-option value="low">Color block</ion-select-option>
                      <ion-select-option value="low">Floral</ion-select-option>
                      <ion-select-option value="low">Graphic</ion-select-option>
                      <ion-select-option value="low">Hearts</ion-select-option>
                      <ion-select-option value="low">Mettalic</ion-select-option>
                      <ion-select-option value="low">Paisley</ion-select-option>
                      <ion-select-option value="low">Plaid</ion-select-option>
                      <ion-select-option value="low">Polka Dots</ion-select-option>
                      <ion-select-option value="low">Print</ion-select-option>
                      <ion-select-option value="low">Solid</ion-select-option>
                      <ion-select-option value="low">Stars</ion-select-option>
                      <ion-select-option value="low">Stripes</ion-select-option>
                      <ion-select-option value="low">Tie-dye</ion-select-option>
                      <ion-select-option value="low">Tropical</ion-select-option>
                      <ion-select-option value="low">Tweed</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="strTag == 'general'" class="max-width">
              <ion-grid class="max-size">
                <ion-row justify-content-center align-items-center class="max-size" style="flex-direction: column">
                  <h1><b>{{objLabels[strTag]['label2']}}</b></h1>
                </ion-row>
              </ion-grid>
            </ion-row>

            <ion-row *ngIf="strTag == 'general'" class="max-width">
              <ion-col>
<<<<<<< Updated upstream
                  <ion-select placeholder="Choose" class="dropdown" [(ngModel)]="objData['accent']">
=======
                  <ion-select placeholder="Choose" class="dropdown">
>>>>>>> Stashed changes
                      <ion-select-option value="low">Beaded</ion-select-option>
                      <ion-select-option value="low">Bows</ion-select-option>
                      <ion-select-option value="low">Chains</ion-select-option>
                      <ion-select-option value="low">Cut Outs</ion-select-option>
                      <ion-select-option value="low">Embroided</ion-select-option>
                      <ion-select-option value="low">Flannel</ion-select-option>
                      <ion-select-option value="low">Frayed Edges</ion-select-option>
                      <ion-select-option value="low">Graphic</ion-select-option>
                      <ion-select-option value="low">Fringe</ion-select-option>
                      <ion-select-option value="low">Fur</ion-select-option>
                      <ion-select-option value="low">Glitter</ion-select-option>
                      <ion-select-option value="low">Peplum</ion-select-option>
                      <ion-select-option value="low">Ripped</ion-select-option>
                      <ion-select-option value="low">Ruched</ion-select-option>
                      <ion-select-option value="low">Ruffles</ion-select-option>
                      <ion-select-option value="low">Sequins</ion-select-option>
                      <ion-select-option value="low">Shearling</ion-select-option>
                      <ion-select-option value="low">Studed</ion-select-option>
                      <ion-select-option value="low">Velvet</ion-select-option>
                      <ion-select-option value="low">Zippers</ion-select-option>
                  </ion-select>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-row>

      <ion-row *ngIf="strTag == 'necklines'">
        <ion-col *ngFor="let objItem of objLabels[strTag]['list']; index as i;" size="3" style="text-align: center; font-size: 13px; margin-top: 10px;">
          <div class="max-size" style="padding-bottom: 10px;" [ngClass]="{'is-chosen': objItem['chosen'] == true}">
            <img src="assets/images/{{strTag}}/{{objItem['img']}}" (click)="chooseThis(objItem)">
            <span>{{ objItem['name'] }}</span>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
