<ion-content>
    <ion-grid>
      

      <ion-row style="height: 30%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <div>
              <br>
              <p style="font-size: 13px; text-align: center;">4 Step Sign Up</p>
              <div class="swiper-pagination swiper-pagination-bullets">
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet  swiper-pagination-bullet-active"></span>
                <span class="swiper-pagination-bullet test"></span>
                <span class="swiper-pagination-bullet test"></span>
              </div>
            </div>
          </ion-row>
        </ion-grid>
      </ion-row>

  
      <ion-row style="height: 10%;">
        <ion-grid class="max-size">
          <ion-row justify-content-center align-items-center style="flex-direction: column">
            <h1><b>Input your size</b></h1>
          </ion-row>
        </ion-grid>
      </ion-row>
  
      <ion-row style="height: 60%; padding: 10px;">
        <ion-col class="max-size">
  
          <ion-row class="max-width">
            <ion-col>
              <mat-form-field class="input-size">
                <input matInput type="text" placeholder="Bottoms, in inches." [(ngModel)]="objData['bottom_size']">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <br>
  
          <ion-row class="max-width">
            <ion-col>
              <ion-select placeholder="Tops" style="border: 2px solid #F6F6F6;" [(ngModel)]="objData['top_size']">
                  <ion-select-option value="xxs">XXS</ion-select-option>
                  <ion-select-option value="xs">XS</ion-select-option>
                  <ion-select-option value="s">S</ion-select-option>
                  <ion-select-option value="m">M</ion-select-option>
                  <ion-select-option value="l">L</ion-select-option>
                  <ion-select-option value="xl">XL</ion-select-option>
                  <ion-select-option value="xxl">XXL</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-content>

  <ion-footer no-border>
    <ion-toolbar transparent>
      <button mat-flat-button color="primary"class="btn-next" (click)="saveData()" routerLink="/register/step3">Next</button>
    </ion-toolbar>
  </ion-footer>