ion-grid {
    padding: 0px !important;
    margin: 0px !important;
}

.max-size {
    width: 100%;
    height: 100%;
}

.input-size {
  width: 100%; 
  height: 20px; 
  padding-left: 2px; 
  padding-right: 2px; 
}

.btn-next {
  width: 100%;
  height: 44px;
  font-size: 16px;
  color: #fff;
  background: var(--ion-background-color,#009376);
  border-radius: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
}

.test {
  background-color: #F0F0F0;
}


.footer-container {
  text-align: center;
}